{% load static %}


<footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">AgriCulture</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Majengo Homes</p>
              <p>Nyeri 1976-10100</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+254702001001</span></p>
              <p><strong>Email:</strong> <span>agrifarms@gmail.com</span></p>
              <p><strong>Main-Branch:</strong> <span>Nyeri</span></p>
              <p><strong>Branches:</strong> <span>Nairobi, Nandi, Eldoret, Kericho, <br>
                Bomet, Kirinyaga, Embu, Kakamega.
              </span></p>
            </div>
          </div>

          

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Crop and Soil Management</a></li>
              <li><a href="#">Market Information</a></li>
              <li><a href="#">Fertiliser Application</a></li>
              <li><a href="#">Farm Management</a></li>
              <li><a href="#"> Crop Management Advice</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Other Services</h4>
            <ul>
              <li><a href="#">Integration of market data</a></li>
              <li><a href="#">Smart Irrigation Support</a></li>
              <li><a href="#">Disease and Pest Detection</a></li>
              <li><a href="#">Organic Farming Support</a></li>
              <li><a href="#">E-Learning and Training</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Vision</h4>
            <ul>
              <li><a href="#">To empower farmers and agricultural
                 communities with innovative technology,  fostering sustainable practices, enhancing productivity,and bridging the gap justify-content-between tradition
                    and modernity to build a resilient and prosperous agricultural ecosystem for
                 a better future.</a></li>
              
           
            </ul>
          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Mission</h4>
            <ul>
              <li><a href="#">Our mission is to provide accessible, user-friendly solutions that support farmers in making informed decisions,
                 improving yields, and connecting to markets. We aim to promote sustainability, enhance agricultural efficiency, and empower 
                communities through technology, education, and collaboration.</a></li>
              
           
            </ul>
          </div>
          

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright. 
            All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by Ryankibet
          </div>
        </div>

       
      </div>
    </div>

  </footer>
