{% extends 'index.html' %}
{%load static%}
{% block title%} About {%endblock%}
{%block content%}


    <!-- About Section -->
    <section id="about" class="about section">

      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <img src="{% static 'Static\assets\img\IMG-20241127-WA0011.jpg' %}" alt="Image " class="img-fluid img-overlap" data-aos="zoom-out">
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="content-subtitle text-white opacity-50">Why Choose Us</h3>
              <h2 class="content-title mb-4">
                More than <strong>50 year experience</strong> in agriculture
                industry
              </h2>
              <p class="opacity-50">
                With over 50 years of experience in the agriculture industry, we have continuously evolved and adapted to meet 
                the changing needs of farmers and the environment. Our expertise spans innovative farming techniques, sustainable practices, 
                and market insights, ensuring we provide valuable solutions that enhance productivity, 
                protect natural resources, and contribute to the long-term success of agricultural communities.
              </p>

             
    </section><!-- /About Section -->

    <!-- About 3 Section -->
    <section id="about-3" class="about-3 section">

      <div class="container">
        <div class="row gy-4 justify-content-between align-items-center">
          <div class="col-lg-6 order-lg-2 position-relative" data-aos="zoom-out">
            <img src="{% static 'Static\assets\img\IMG-20241127-WA0013.jpg' %}" alt="Image" class="img-fluid">
            
              <span class="play"><i class="bi bi-play-fill"></i></span>
            </a>
          </div>
          <div class="col-lg-5 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h2 class="content-title mb-4">Plants Make Life Better</h2>
            <p class="mb-4">Plants make life better by providing oxygen, improving air quality, and offering nourishment through food and medicine.
               They play a crucial role in sustaining ecosystems, reducing carbon emissions, and enhancing mental well-being. From the beauty of landscapes 
               to the crops that feed us, plants are vital to a healthy, sustainable environment,
               supporting both human life and biodiversity.
            </p>
           


          </div>
        </div>
      </div>
    </section><!-- /About 3 Section -->

{%endblock%}