{%load static%}



<header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
     
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="AgriCulture">
        <!-- <h1 class="sitename">AgriCulture</h1>  -->
      </a>
      
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'myapp:index' %}" >Home</a></li>
          <li><a href="{% url 'myapp:about' %}">About</a></li>
          <li><a href="{% url 'myapp:service' %}">Our Services</a></li>
          <li><a href="{% url 'myapp:testimonial' %}">Testimonials</a></li>
          <li><a href="{% url 'myapp:team' %}">Team</a></li>
          <li><a href="{% url 'myapp:appointment' %}">Appointment</a></li>
          <li><a href="{% url 'myapp:show_appointments' %}"> Show Appointments</a></li>
        </ul> 
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">

        <div class="social-links d-none d-md-flex align-items-center">
          <nav>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <a href="#" class="logout-link" onclick="this.closest('form').submit();">Log Out</a>
                </form>
            {% else %}
            <a href="{% url 'accounts:login' %}" style="margin-right:15px;">Log In</a>
            <a href="{% url 'accounts:register' %}">Register</a>

            {% endif %}
          </nav>
          
    
        </div>
      </div>
    </div><!-- End Top Bar -->
   
      </div>

    </div>
  </header>